/*******************************************************************************
 * Licensed Materials - Property of IBM
 *
 * OpenPages GRC Platform (PID: 5725-D51)
 *
 * © Copyright IBM Corporation  2020 - 2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights- Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/

.bx--btn {
	margin-top: 20px;
	margin-right: 20px;
}

.bx--text-input-wrapper {
    margin-top: 20px;
}
.bx--dropdown__wrapper {
    margin-top: 20px;
}
